<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ticcccccc Taccccccc 😩😩😩😩😩😩😩😩😩😩😩😩😩😩</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .table {
        width: auto;
      }

      td {
        border: 5px solid white;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <nav class="navbar bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-white"
          >Kolko i Krzyzyk 2: Ostateczne uderzenie</span
        >
      </div>
    </nav>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <h1>Tura gracza: {{ turn }}</h1>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <table class="table table-light bg-light w-25">
        {% for i in range(3) %}
        <tr>
          {% for j in range(3) %}
          <td>
            {% set matrixId = game[i][j].getId() %}
            ticc matrix: {{matrixId}}
            <div class="d-flex align-items-center justify-content-center">
              {%set activeTable = game[i][j].getActive()%}
              {%if activeTable == True%}
              {%set background = 'table-success'%}
              {%set button = 'btn-success'%}
              {%set disabled = '' %}
              {%else%}
              {%set background = 'table-dark' %}
              {%set button = 'btn-dark' %}
              {%set disabled = 'disabled' %}
              {%endif%}
              <table class="table {{background}} text-center m-1 w-100">
                {% for row in game[i][j].getMatrix()%}
                <tr>
                  {%for column in game[i][j].getMatrix()%}
                  <!-- <td> <a href="{{url_for ('make_turn', row=i, col=j, turn=turn)}}" -->
                  <td>
                    {% set turnPayload = {"row":i, "col":j, "turn":turn, "mId":matrixId} %}
                    <a href="{{url_for ('make_turn', x=turnPayload.row, y=turnPayload.col, trn=turnPayload.turn, matId=turnPayload.mId)}}">
                      <button type="button" class="btn {{button}}" {{disabled}}>{{turn}}</button>
                    </a>
                  </td>
                  {%endfor%}
                </tr>
                {% endfor %}
              </table>
            </div>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
