<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ticcccccc Taccccccc 😩😩😩😩😩😩😩😩😩😩😩😩😩😩</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .table {
        width: auto;
      }

      td {
        border: 2px solid white;
        text-align: center;
      }
      a.disabled {
        pointer-events: none;
        cursor: default;
      }
    </style>
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <nav class="navbar bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-white"
          >Kolko i Krzyzyk 2: Ostateczne uderzenie</span
        >
      </div>
    </nav>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <h1>Tura gracza: {{ turn }}</h1>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <table class="table rounded-md table-light bg-light w-25">
        {% for i in range(3) %}
        <tr>
          {% for j in range(3) %}
          <td>
            {% set matrixId = game[i][j].getId() %}
            <div class="d-flex align-items-center justify-content-center">
              {%if game[i][j].getId() is in activeBoards %}
              {%set background = 'table-success'%}
              {%set button = 'btn-success'%}
              {%set disabled = '' %}
              {%else%}
              {%set background = 'table-secondary' %}
              {%set button = 'btn-light' %}
              {%set disabled = 'disabled' %}

              {%endif%}
              {% if finishedBoards[game[i][j].getId()] == 1 %}
              <div class="h-100  mt-4 mx-4 p-5 d-flex align-items-center justify-content-center">
                <h1 class="text-danger display-1 w-100" style="font-size:412%">X</h1>
              </div>
              {% elif finishedBoards[game[i][j].getId()] == 4 %}
              <div class="h-100 mt-4 mx-4 p-5 d-flex align-items-center justify-content-center">
                <h1 class="text-primary display-1 w-100">O</h1>
              </div>
              {% elif finishedBoards[game[i][j].getId()] == 999 %}
              <img class="img-fluid" src="https://i.kym-cdn.com/photos/images/newsfeed/002/336/945/e1c">
              
              {%else%}
              <div class="h-100 w-100 mt-4 mx-4 d-flex align-items-center justify-content-center">
                <table class="table {{background}} text-center m-1 w-100">
                  {% for k in range(3)%}
                  <tr>
                    {%for l in range(3)%}
                    <td>
                      {% if game[i][j].getMatrix()[k][l] == 1 or game[i][j].getMatrix()[k][l] == 4 %}
                      {% if game[i][j].getMatrix()[k][l] == 1 %}
                      <div class="h-100 p-2 d-flex align-items-center justify-content-center text-danger">
                        X
                      </div>
                      {% endif %}
                      {% if game[i][j].getMatrix()[k][l] == 4 %}
                      <div class="h-100 p-2 d-flex align-items-center justify-content-center text-primary">
                        O
                      </div>
                      {% endif %}
                      {%else%}
                      {% set turnPayload = {"row":k, "col":l, "turn":turn, "mId":matrixId} %}
                      <a class="{{disabled}}" href="{{url_for ('make_turn', x=turnPayload.row, y=turnPayload.col, trn=turnPayload.turn, matId=turnPayload.mId)}}">
                        <button type="button" class="btn {{button}}" {{disabled}}>&nbsp;</button>
                      </a>
                      {%endif%}
                    </td>
                    {%endfor%}
                  </tr>
                  {% endfor %}
                </table>
              </div>
              {%endif%}
            </div>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <form action="{{url_for ('index')}}" method="post">
        <button type="submit" class="btn btn-success">Graj od nowa</button>
      </form>
    </div>
  </body>
</html>
</table>